Source: salt-formula-openvpn
Maintainer: Filip Pytloun <filip.pytloun@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: python-all,
                     python-yaml,
                     salt-master,
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-openvpn
Vcs-Git: https://github.com/tcpcloud/salt-formula-openvpn.git

Package: salt-formula-openvpn
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: openvpn Salt formula
 Install and configure openvpn server and relay.
